<%- include('../../partials/header') %>

<body>
  <%- include('../../partials/navbar') %>
  <div class="container">
    <hr />
    <h2>Categorias</h2>
    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Slug</th>
          <th>Ações</th>
        </tr>
        <tbody>
            <tr>
                <th>1</th>
                <th>Slug wdawdawd</th>
                <th>Ações221</th>
             
            </tr>
        </tbody>
      </thead>
    </table>
  </div>
</body>
<%- include('../../partials/footer')%>
