<%- include('../../partials/header') %>

<body>
  <%- include('../../partials/navbar') %>
  <div class="container">
 
    <div class="card">
        <div class="card-header">

            <h2>cadastro de categoria</h2> 
        </div>
        <div class="card-body">
            <form action="/categories/save" method="POST">
                <input
                  class="form-control"
                  type="text"
                  name="title"
                  placeholder="Defina o titulo da categoria"
                />
                <br>
                <button class="btn btn-warning">Cdastrar</button>
              </form>
        </div>
      
    </div>
  </div>
</body>
<%- include('../../partials/footer')%>
