<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a href="/" class="navbar-brand">
    Guia press
    </a>
    <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

    </ul>
    </nav>